html, body {
  margin: 0;
  padding: 0;
}

.logo {
  background: salmon;
  height: 5vh;
  width: 30vw;
}

.circle {
  border-radius: 50%;
  background-color: red;
  width: 30%;
  height: 100%;
  float: left;
}

.name {
  background: pink;
  height: 3vh;
  width: 50%;
  margin: 1vh;
  float: right;
}

.nav-bar {
  background: lightyellow;
  height: 4vh;
}

.link-1, .link-2, .link-3, .link-4 {
  background: tan;
  height: 100%;
  width: 22vw;
  margin-right: 1vh;
  float: left;
}

.header {
  background: lightblue;
  height: 50vh;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 11px;
}

.main-image {
  background: blue;
  border-radius: 50%;
  height: 159px;
  width: 159px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  background: lightgreen;
  height: 100vh;
}

.gallery {
  background: green;
  height: 50vh;
}

.img-1, .img-2, .img-3 {
  background: violet;
  float: left;
  height: 30%;
  width: 100vw;
  margin: 1.4% 0;
}

.text {
  background: orange;
  height: 50vh;
}

.text h4 {
  font-size: 13px;
  margin: 0px;
  /* float: left; */
}

.text p {
  font-size: 9px;
  margin: 0;
}

.col-left {
  background: brown;
  width: 50%;
  height: 100%;
  float: left;
}

.col-right {
  background: beige;
  width: 50%;
  height: 100%;
  float: left;
}

.content-1, .content-2, .content-3 {
  float: left;

}

.col-right p {
  /* float: left; */
}

.content-text {
    float: right;
    width: 85%;
}

.square {
  background: #ffb8b8;
  width: 10%;
  height: 34px;
  float: left;
  margin: 6px;
}

.text {
  display: none;
}

@media screen and (min-width: 750px) {
  .logo {
    float: left;
  }

  .text {
    display: block;
  }

  .nav-bar {
    height: 4vh;
    float: left;
    width: 50vw;
    margin-left: 20vw;
  }

  .link-1, .link-2, .link-3, .link-4 {
    background: tan;
    height: 100%;
    width: 20%;
    float: left;
  }

  .header {
    clear: both;
    height: 30vh;
  }

  h3 {
    font-size: 17px;
    margin-left: 10px 0;
  }

  .header p {
    font-size: 11px;
    float: left;
    margin-right: 65%;
    margin-left: 10px;
  }

  .main-image {
    background: blue;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-right: 10%;
  }

  .gallery {
    background: green;
    height: 15vh;
  }

  .img-1, .img-2, .img-3 {
    background: violet;
    float: left;
    height: 100%;
    width: 33%;
    margin: 0;
  }

  .img-2 {
    margin: 0 .5%;
  }
